<nav class="navbar" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h1>Todo list</h1></a>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit"><%= link_to "signup", signup_path %></button>

        <button class="btn btn-outline-success" type="submit"><%= link_to "login" , login_path %></button>
      </form>
    </div>
  </div>
</nav>


<div class="text-center">
  <h3>Add New To-Do working</h3>
    <%= form_for Todo.new do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: 'type working here' %>
      </br>
        
      <%= f.label :day %>
      <%= f.select :day, ['Monday', 'Tuesday', 'Wednesday', 'Thuesday','Friday','Sunday'] %>
        
        <%= f.submit "enter", class: "btn btn-primary"  %>
    <% end %>
</div>

<h1>Monday</h1>
<ol>
  <% @monday_todos.each do |todo| %>
    <li><%= todo.name %>
    <small><%= link_to 'delete', todo, method: :delete %></small></li>
    <% end %>
  </ol>

<h1>Tuesday</h1>
<ul>
  <% @tuesday_todos.each do |todo| %>
    <li><%= todo.name %>
    <small><%= link_to 'delete', todo, method: :delete %></small></li>
    <% end %>
</ul>
<h1>Wednesday</h1>
<ul>
  <% @wednesday_todos.each do |todo| %>
    <li><%= todo.name %>
    <small><%= link_to 'delete', todo, method: :delete %></small></li>
    <% end %>
</ul>
<h1>Thuesday</h1>
<ul>
  <% @thuesday_todos.each do |todo| %>
    <li><%= todo.name %>
    <small><%= link_to 'delete', todo, method: :delete %></small></li>
    <% end %>
</ul>
<h1>Friday</h1>
<ul>
  <% @friday_todos.each do |todo| %>
    <li><%= todo.name %>
    <small><%= link_to 'delete', todo, method: :delete %></small></li>
    <% end %>
</ul>
<h1>Saturday</h1>
<ul>
  <% @saturday_todos.each do |todo| %>
    <li><%= todo.name %>
    <small><%= link_to 'delete', todo, method: :delete %></small></li>
    <% end %>
</ul>
<h1>Sunday</h1>
<ul>
  <% @sunday_todos.each do |todo| %>
    <li><%= todo.name %>
    <small><%= link_to 'delete', todo, method: :delete %></small></li>
    <% end %>
</ul>
 
</div>